.Dictionary {
  display: block;
  margin: 0 auto;
}

.searchInput {
  max-width: 50%;
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: #777b7e;
  font-size: medium;
}

.error {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  margin: 50px;
  color: #7c0a02;
}

.searchWord {
  text-align: center;
  margin-top: 30px;
  color: #777b7e;
  font-weight: 800;
}

.typeIcon {
  max-width: 3%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.Meaning {
  text-align: center;
  margin: 30px;
}

.partOfSpeech {
  color: #ff7417;
  font-weight: 800;
}

.Phonetic {
  text-align: center;
}

.btn-outline-info {
  border-color: transparent;
  border-radius: 100%;
  padding: 10px;
}

li {
  list-style: none;
}
