body {
  background-color: #f5fffe;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.app-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.app-header {
  margin: 20px;
}

.app-footer {
  margin: 30px;
  font-size: xx-small;
  color: #777b7e;
}
